{% extends 'base.html' %} {% block content %}
<div style="min-height: 62vh" class="container">
	<div
		class="d-flex align-items-center justify-content-between flex-wrap mt-3 mt-md-5"
	>
		{% for project in projects %}
		<div style="width: 26rem" class="card mb-3 shadow">
			<div
				style="height: 350px; background-image: url({{project.projectImage.url}}); background-repeat: no-repeat; background-size: cover; background-position: center;"
				class="w-100"
			></div>
			<!-- <img
				src="{{project.projectImage.url}}"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/> -->
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="/project/{{project.id}}/">
						{{project.title}}
					</a>
				</h4>
				<div>
					<img
						src="{{project.projectBy.profile.avatar.url}}"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					<span>
						by
						<cite title="Source Title"> {{project.projectBy.username}} </cite>
					</span>
				</div>
				<a href="{{project.projectUrl}}" target="_blank">
					Website Link <i class="fa-solid fa-arrow-up-right-from-square"></i>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
