{% extends 'base.html' %} {% block content %}
<div class="container">
	<div
		class="d-flex align-items-center justify-content-between flex-wrap mt-3 mt-md-5"
	>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
		<div style="max-width: 26rem" class="card mb-3 shadow">
			<img
				src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
				class="card-img-top"
				alt="Fissure in Sandstone"
			/>
			<div class="card-body">
				<h4 class="card-title mb-3">
					<a class="text-dark" href="#">Project title</a>
				</h4>
				<div>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle me-3"
						height="35"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
					by <cite title="Source Title"> Project Author </cite>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
