<!-- 'https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg' -->

{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mb-4">
	<div
		style="
			background-image: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0.3),
					rgba(0, 0, 0, 0.3)
				),
				url('{{project.projectImage.url}}');
			background-repeat: no-repeat;
			background-size: cover;
			height: 60vh;
		"
		class="w-100 d-flex align-items-center justify-content-center mb-3 mb-md-5"
	>
		<div>
			<div class="mb-5">
				<h2 class="text-light display-4"> {{project.title}} </h2>
				<span class="text-light fs-5"
					>by <cite title="Source Title"> {{project.projectBy.username}} </cite></span
				>
			</div>
			<div>
				<div class="mb-2">
					<progress class="w-100" max="10.0" value={{usability}}></progress>
					<span class="text-light d-block">Usability : {{usability}}</span>
				</div>
				<div class="mb-2">
					<progress class="w-100" max="10.0" value={{design}} ></progress>
					<span class="text-light d-block">Design : {{design}}  </span>
				</div>
				<div class="mb-2">
					<progress class="w-100" max="10.0" value= {{content}}  ></progress>
					<span class="text-light d-block">Content : {{content}} </span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 px-3">
			<h3>About</h3>
			<p>
				{{project.description}}
			</p>
		</div>
		<div class="col-12 col-md-6 px-3">
			<h3 class="mb-2">Rate Project</h3>
			<form action="/rate/{{project.id}}/" method="POST">
				{% csrf_token %}
				<div class="form-outline">
					<label class="form-label" for={{form.design.auto_id}}>Design</label>
					{{form.design}}
				</div>
				<div class="form-outline">
					<label class="form-label" for={{form.content.auto_id}}>Content </label>
					{{form.content}}
				</div>
				<div class="form-outline">
					<label class="form-label" for={{form.usability.auto_id}}>Usability</label>
					{{form.usability}}
				</div>
				<button class="btn btn-outline-dark px-4 mt-4">Rate</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
