{% extends 'base.html' %} {% block content %}

<div class="container">
	<!-- Section: Design Block -->
	<section class="text-center">
		<!-- Background image -->
		<div
			class="p-5 bg-image"
			style="
				background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
				background-position: center;
				height: 300px;
			"
		></div>
		<!-- Background image -->

		<div
			class="card mx-4 mx-md-5 shadow-5-strong"
			style="
				margin-top: -140px;
				background: hsla(0, 0%, 100%, 0.8);
				backdrop-filter: blur(30px);
			"
		>
			<div class="card-body py-5 px-md-5">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<h2 class="fw-bold mb-5">Upload Project</h2>
						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<!-- Project Title -->
							<div class="form-outline mb-4">
								<label class="form-label w-100 text-start fw-bold" for="{{form.title.auto_id}}">
									Project Title
								</label>
								{{form.title}}
							</div>

							<!-- Project Hero Image -->
							<div class="form-outline mb-4">
								<label class="form-label w-100 text-start fw-bold" for="{{form.projectImage.auto_id}}"
									>Add Hero Image</label
								>
								{{form.projectImage}}
							</div>

							<!-- Project URL -->
							<div class="form-outline mb-4 w-100 text-start fw-bold">
								<label class="form-label" for="{{form.projectUrl.auto_id}}"
									>Project URL</label
								>
								{{form.projectUrl}}
							</div>

							<!-- Project Description -->
							<div class="form-outline mb-4">
								<label class="form-label w-100 text-start fw-bold" for="{{form.description.auto_id}}">
									Project Description
								</label>
								{{form.description}}
							</div>

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-block mb-4">
								Upload
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section: Design Block -->
</div>

{% endblock %}
