<footer style="background-color: #fcfdfd" class="mt-5">
	<div class="container pt-2 pt-md-5">
		<p>The Awards for design, creativity and innovation on the Internet.</p>
		<div>
			<strong class="me-2">Follow us on</strong>
			<span class="me-2">
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-twitter text-primary"></i>
				</a>
			</span>
			<span class="me-2">
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-facebook text-primary"></i>
				</a>
			</span>
			<span class="me-2">
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</span>
			<span class="me-2">
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-youtube text-danger"></i>
				</a>
			</span>
			<span class="me-2">
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-linkedin text-primary"></i>
				</a>
			</span>
			<span>
				<a class="text-decoration-none" href="#">
					<i class="fa-brands fa-pinterest text-danger"></i>
				</a>
			</span>
		</div>
		<hr />
		<div class="d-flex justify-content-between my-3">
			<a href="#"><p>Contact Us</p></a>
			<a href="#"><p>F.A.Q</p></a>
			<a href="#"><p>Legal Terms</p></a>
			<a href="#"><p>Privacy Policy</p></a>
			<p>&copy; 2022</p>
		</div>
	</div>
</footer>
